.home-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 60px;
}

.home-title {
  color: #fde047;
  font-size: 32px;
  letter-spacing: 3.2px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Bangers", system-ui;
}
