.home-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #1e3a8a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper,
.footer-wrapper {
  width: 100%;
}
